* {
  font-family: Montserrat, sans-serif;
}

a {
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  position: relative;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: $Grayscale50;
  max-width: 740px;
  text-transform: uppercase;
}

h1.title::after {
  content: "";
  position: absolute;
  top: 54px;
  right: -458px;
  width: 50%;
  height: 2px;
  background-color: #000;
}

// h4.title::after {
//   content: "";
//   position: absolute;
//   top: 20px;
//   right: 20px;
//   width: 50%;
//   height: 2px;
//   background-color: #000;
// }

.title--nm {
 font-size: 72px;
}

.title--sm {
  font-size: 52px;
}

.title-description {
  display: inline-block;
  max-width: 60%;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.title-description--mb45 {
  margin-bottom: 45px;
}

.title-description--mb20 {
  margin-bottom: 20px;
}

.description {
  max-width: 634px;
}
