.btn--download {
    display: inline-block;
    border: 1px solid $PrimaryBlue100;
    background-color: $PrimaryBlue100;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #fff;
}