.about-location {
  margin-top: 112px;
  margin-bottom: 100px;
} 

.description {
  display: flex;
  justify-content: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 100px; 
}