<header class="header">
  <div class="container header__wrapper">
    <!--=include logo.html -->
    <nav class="nav-wrapper">
      <ul class="nav">
        <li class="nav__item"><a class="nav__link nav__link--active" href="#">Главная</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Расположение</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Планировки</a></li>
      </ul>
    </nav>
    <!--=include btn-link.html -->
  </div>
</header>

<!-- 

БЭМ
Б- блок
Э - элемент
М - модификатор


 -->
